localhost, scandi-studio-sochi.ru {
	handle /images/* {
		file_server
		root * /app/public
	}

	handle {
		reverse_proxy app:3000
	}

    # Включаем логгирование для удобной отладки
    log {
        format json
    }
}
